body {
	line-height: 150%;
	margin: 0;
	padding: 0;
	min-height: 100%;
	background: #44387c;
}

.main-container {
	padding: 60px 0 50px;
	background-color: #F3F2F7;
	background-image: linear-gradient(90deg, transparent 79px, #B7AFE0 79px, #44387c 81px, transparent 81px), linear-gradient(#E1DFEB .1em, transparent .1em);
	background-size: 100% 2em;
	/*background: repeat url('/images/bg.png');*/
}

header {
	background: #44387c;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1000;
}

header a {
	color: #f5f5f5;
}

header .menu {
	padding: 10px;
}

header .menu i {
	font-size: 14px;
	margin-left: 5px;
}

header .menu i:hover {
	color: #7979FF;
}


header .search {
	margin: 0;
	position: relative;
}

header .search input, header .search button {
	margin: 0;
	vertical-align: top;
	right: 0;
}

header .search button {
	position: absolute;
	top: 0;
}

.header-bottom {
	position: relative;
	line-height: 20px;
}


.navbar {
	position: absolute;
	z-index: 10;
	left: 0;
}
.navbar li {
	list-style-type: none;
}

.navbar .root {
	position: relative;
}

.navbar .link {
	display: block;
	text-align: center;
	padding: 15px 20px;
	cursor: pointer;
	text-transform: capitalize;
}

.navbar .sub {
	height: 0;
	display: none;
}

.sub-menu-1 {
	position: absolute;
	z-index: -1;
}

.sub-menu-1 .link {
	font-weight: bold;
	text-transform: capitalize;
	font-size: 12px;
	text-align: left;
	width: 100px;
	padding: 10px 20px;
}
.sub-menu-1 li:nth-child(even){
	background: #644CD3;
}
.sub-menu-1 li:nth-child(odd){
	background: #5F48C5;
}

.sub-menu-2 .link {
	font-size: 80%;
	color: #fff;
	padding: 5px 20px 5px 40px;
}
.navbar .root:hover .sub {
	display: block;
}

.navbar .root:hover .root-link {
	color: #fff;
	background: #644CD3;
}


.container {
	position: relative;
	max-width: 1000px;
	margin: 0 auto;
}

.wood-pattern {
	background-color: #FCF9F7;
}

.content.page {
	background: #f5f5f5;
	color: #666;
}

footer {
	padding: 20px 0;
	border-top: 1px solid #644CD3;
	color: #fff;
}

footer a {
	color: #B4A7F0;
}

a {
	color: #111;
	text-decoration: none;
}

a:hover {
	color: #C0B9E4;
}

.block-text {
	display: inline-block;
	padding: 10px;
	font-size: 16px;
	background: #111;
	color: #fff;
	margin: 0 5px 5px 0;
	font-weight: bold;
	text-transform: uppercase;
}

.node.white .block-text {
	background: #fff;
	color: #111;
}

/*article*/

.articles {
	padding: 10px 0 50px;
	min-height: 600px;
}

.articles .article {
	overflow: hidden;
	width: 194px;
	height: 300px;
	text-align: left;
	/*filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter ….3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");*/
	/*filter: gray;*/
	/*-webkit-filter: grayscale(100%);*/
	margin: 1px;;
	background: no-repeat center center;
	background-size: auto 100%;
	position: relative;
	display: inline-block;
}

.articles .article:hover {
	background-size: auto 200%;
}

.articles .article .title {
	display: table-cell;
	vertical-align: middle;
	padding: 10px;
	font-size: 16px;
	font-weight: normal;
	height: 77px;
	width: 300px;
	text-transform: uppercase;
	color: #fff;
	background: rgba(0, 174, 239, 0.3);
}

.articles .article:hover .title, .articles .article:hover .desc {
	background: rgba(0, 174, 239, 0.6);
}

.articles .article .desc {
	padding: 10px;
	background: rgba(255, 255, 255, 0.6);
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
}

.articles .article h2 {
	padding: 10px;
	background: rgba(255, 255, 255, 0.5);
	border-bottom: 1px solid #fff;
}

.articles .article h2 a {
	color: #111;
}

.articles .article .desc {
	padding: 10px;
}

/*sidebar*/
.side-left {
	width: 230px;
}

.side-menu {
	padding: 0 0 0 10px;
	margin: 10px 0 0;
	border-right: 1px solid #ff0000;
}

.side-menu li {
	list-style-type: none;
}

.side-menu  a {
	display: block;
	padding: 10px;
	font-size: 16px;
	text-transform: uppercase;
}

.sub-side-menu a {
	padding-left: 20px;
	font-size: 12px;
	text-transform: capitalize;
}

.side-menu li a:hover {
	background: #ff0000;
	color: #fff;
	text-decoration: underline
}

.side-right {
	position: absolute;
	margin-left: 230px;
}

.ac-menu {
	position: relative;
}

.ac-menu:hover .ac-menu-toggler {
	display: block;
}

.ac-menu-toggler {
	position: absolute;
	top: 0;
	padding-top: 39px;
	right: -100px;
}

.ac-menu-toggler .content {
	background: #44387c;
	color: #f5f5f5;
	border: 1px solid #44387c;
	font-size: 12px;
}
.search-bar {
	border: 1px solid #00a2df;
	margin: 10px 0;
}

.search-bar input[type="text"], .search-bar input[type="password"], .search-bar input[type="text"], .search-bar:active input[type="password"]:active {
	border: none;
}

.banner {
	width: 300px;
	margin-right: 30px
}

.new-product .product {
	position: relative;
	background: no-repeat center top #f5f5f5;
	background-size: cover;
	width: 320px;
	height: 170px;
	background-size: 120%;
	margin: 0 5px;
	color: #111;
	display: inline;
}

.new-product .product:hover {
	background-size: 150%;
	filter: none;
	-webkit-filter: none;
}

.new-product .product .title {
	text-transform: uppercase;
	padding: 10px;
	font-size: 16px;
	background: rgba(255, 255, 255, 0.8);
}

.new-product .product .desc {
	position: absolute;
	background: rgba(255, 255, 255, 0.8);
	padding: 10px;
	margin-bottom: -100px;
	bottom: 0;
	left: 0;
	right: 0;
}
.new-product .product:hover .desc{
	margin-bottom: 0;
}

.carousel-box {
	position: relative;
}

.carousel-box .navi {
	position: absolute;
	width: 1050px;
	top: 140px;
	margin-left: -25px
}

.carousel-box .prev, .carousel-box .next {
	margin: 10px;
	cursor: pointer;
	text-align: center;
	width: 40px;
	height: 40px;
	border-radius: 40px;
	font-size: 12px;
	background: #eee;
	line-height: 40px;
	-webkit-box-shadow: 0px 0px 6px -2px #666;
	box-shadow: 0px 0px 6px -2px #666;
}

.carousel-box .prev:hover, .carousel-box .next:hover {
	background: #ddd;
}

.line {
	background: #D3CDF0;
	border-left: 10px double #44387c;
	color: #44387c;
	padding: 10px;
	margin: 10px 0;
	text-transform: uppercase;
}

input[type="text"], input[type="password"], input[type="date"], textarea, select {
	border: 1px solid #6C59C5;
}

.line a {
	font-size: 80%;
	color: #44387c;
}

.to-top, footer .box-right span {
	cursor: pointer;
	text-align: center;
	width: 50px;
	height: 50px;
	display: block;
	border-radius: 50px;
	font-size: 30px;
	color: #44387c;
	background: #eee;
	line-height: 50px;
	border: 1px solid #44387c;
	margin: -55px auto 0;
}

footer a {
	padding: 0 5px;
}

.img-thumb {
	overflow: hidden;
	width: 50px;
	height: 50px;
	margin: 3px;;
	background: no-repeat center center;
	background-size: auto 100%;
	display: inline-block;
	border: 2px solid #ddd;
	cursor: pointer;
}

.navigator a.active .img-thumb {
	border: 2px solid #111;
}

.load-more {
	padding: 10px;
	text-align: center;
	margin-top: 20px;
	cursor: pointer
}

.mobile {
	display: none
}

.subscribe {
	position: fixed;
	width: 290px;
	left: 10px;
	bottom: 10px;
	z-index: 1000;
}

.subscribe .content {
	position: relative;
}

.subscribe .content .close {
	position: absolute;
	top: -5px;
	right: -5px;
}
